* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 960px;
  height: 600px;
  display: grid;
  /* grid-template-areas:
    "top-left top-left top-right top-right"
    "middle-left middle-left middle-right middle-right"
    "bottom-col-first bottom-col-square bottom-col-split-lg bottom-col-last"
    "bottom-col-first bottom-col-square bottom-col-split-sm bottom-col-last"; */
  grid-gap: 2px;
  grid-template-columns: repeat(8 100px);
  /* grid-template-rows: ; */
}

section > div {
  background-color: aqua;
}

