* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
main {
  width: 920px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}

.cell {
  background-color: gray;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.row:nth-child(1) .col:nth-child(1) {
  flex-direction: column;
}
.row:nth-child(1) .col:nth-child(1) .col:nth-child(2) {
  width: 50px;
  height: 150px;
}
.row:nth-child(1) .col:nth-child(2) {
  height: 205px;
  width: 205px;
}

.row:nth-child(2) .col:nth-child(1) {
  height: 70px;
}

.row:nth-child(2) .col:nth-child(2) {
  height: 70px;
  width: 165px;
}

.row:nth-child(2) .col:nth-child(3) .col {
  height: 30px;
  width: 30px;
}

.row:nth-child(2) .col:nth-child(3) .col:nth-child(2) {
  height: 35px;
  width: 30px;
}
