* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/* PT Sans bold */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("./PT-Sans-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main > div:first-child {
  width: 100%;
  position: absolute;
  height: 100%;
  background-image: url("./img/Image-1.png");
  background-position: center;
  background-size: cover;
}

main > div:first-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.81) 37%,
    rgba(0, 0, 0, 0.67) 55%,
    rgba(0, 0, 0, 0) 100%
  );
}
main > div:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4895e2;
  opacity: 0.44;
}

div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Image-2.png");
  opacity: 0.46;
  background-size: cover;
}

img {
  top: 5px;
  position: absolute;
  opacity: 46;
}

h1 {
  position: absolute;
  top: 410px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 200px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  left: 468px;
  line-height: 259px;
}
