body {
  background-color: #2b6324;
}
/*
  home page styles
 */
.home {
  text-align: center;
}
.home a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.home a:hover {
  color: blue;
}
.home img {
  border: solid transparent 2px;
}

.home img:hover {
  border: solid white 2px;
}


/*
  galery 
 */
.galery {
  text-align: center;
}

.galery a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.galery a:hover {
  color: blue;
}
.galery a:not([href]) {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  font-size: 30px;
}

.galery img {
  border: solid transparent 2px;
}

.galery img:hover {
  border: solid white 2px;
}


/*
  preview page 
 */
.preview {
  text-align: center;
}
.preview img {
  width: 100%;
}

.preview a:hover {
  color: blue;
}

.preview a:not([href]) {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  font-size: 30px;
}
.preview a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
